GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS) 'FOURSQUARE_CLIENT_ID=@"G1VAOKQBO0ALOV0WJ0F0CVRLQUABQN51VSCH5SDMHQ2KCHG5"' 'FOURSQUARE_SECRET_ID=@"B3IJ4NOQXQY1R2CMLN4Q5DY1TG210YS433TXD4EAWN5O5BKT"' 'STACKMOB_PUBLIC_KEY=@"4b3fa143-e458-4c13-b6c2-1f40d6600530"' 'KISSMETRICS_API_KEY=@"376fb8979df79690b8eb8d46918002e8d816961d"'